/**█▀▀ █░░ ▄▀█ █▀ █▀ █▀▀ █▀
/**█▄▄ █▄▄ █▀█ ▄█ ▄█ ██▄ ▄█*/

.field {
    padding: 1rem;
    margin: 0 auto;
    height: 60px;
    width: 80%;
    border-radius: 20px;
    margin-top: 1rem;
    color: var(--selection-color);
    background: var(--Theme1-Color2);
    border: 1px solid var(--theme-primary);
    font-size: 1rem;
    cursor: url(../../assets/Images//cursors/IBeam.cur), auto;
}

.field:focus {
    outline: 1px solid white;
    color: white;
    transition: 0.2s;
}

.line3 {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    margin-bottom: 22px;
}

.line4 {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.switch1 {
    position: absolute;
    top: 60%;
    font-size: 1rem;
}

.switch2 {
    position: absolute;
    top: 60%;
    font-size: 1rem;
}

.btn-assistant {
    background: var(--theme-primary);
    border-radius: 20px;
    width: 300px;
    min-height: 60px;
    max-height: 60px;
    font-size: 8px;
    margin: 0 auto;
    font-size: 5px;
    gap: 0.5rem;
    margin-bottom: -60px;
}

.btn-assistant:hover {
    cursor: url(../../assets/Images//cursors/Hand.cur), auto;
    color: white;
    background: var(--theme-secondary);

}

.btn-form-validate {
    color: var(--theme-icons);
    font-size: 1rem;
}

/**█ █▀▄ █▀
/**█ █▄▀ ▄█*/

#form-1 {
    position: relative;
    display: none;
    /* flex */
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-top: 4rem;
}

#slide-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#bgs2 {
    position: absolute;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    opacity: 0.1;
    z-index: -1;
}

#enjeu {
    padding: 1rem;
    margin: 1rem auto;
    width: 80%;
    border-radius: 20px;
    resize: none;
    font-family: Poppins;
    font-size: 1rem;
    min-height: 60px;
    max-height: 250px;
    color: var(--selection-color);
    background: var(--Theme1-Color2);
    border: 1px solid var(--theme-primary);
}

#enjeu:hover {
    cursor: url(../../assets/Images//cursors/IBeam.cur), auto;
}

#enjeu:focus {
    outline: 1px solid white;
    color: white;
    transition: 0.2s;
    cursor: url(../../assets/Images//cursors/IBeam.cur), auto;
}

#enjeu::-webkit-scrollbar {
    width: 0.25rem;
}

#enjeu::-webkit-scrollbar-track {
    background: #1e1e24;
    margin-top: 15px;
    margin-bottom: 15px;
}

#enjeu::-webkit-scrollbar-thumb {
    background: var(--theme-primary);
    border-radius: 10px;
}

#poste-number {
    position: absolute;
    right: 0%;
    max-width: 78.5%;
}

#new-incident {
    margin-top: 8rem;
}

#new-demande {}

#cancelIncident {
    background: var(--theme-primary);
    width: 120px;
}

#cancelIncident:hover {
    background: rgb(113, 4, 4);
    width: 120px;
    background: var(--theme-secondary);
}

/**█▀▄▀█ █▀▀ █▀▄ █ ▄▀█   █▀█ █░█ █▀▀ █▀█ █ █▀▀ █▀
/**█░▀░█ ██▄ █▄▀ █ █▀█   ▀▀█ █▄█ ██▄ █▀▄ █ ██▄ ▄█*/

@media only screen and (max-width:600px) {

    /** CLASSES */
    .field {
        height: 40px;
        font-size: 0.8rem;
    }

    .field:focus {}

    .line3 {
        margin-bottom: 0;
    }

    .btn-assistant {
        height: 40px;
        max-height: 40px;
        min-height: 40px;
        padding: 0;
    }

    .switch1 {
        top: 35%;
        font-size: 0.8rem;
    }

    .switch2 {
        margin-left: 0;
        top: 35%;
        font-size: 0.8rem;
        cursor: url(../../assets/Images//cursors/Hand.cur), auto;
    }

    .btn-form-validate {
        font-size: 0.8rem;
    }

    #form-1 {}

    #poste-number {
        position: absolute;
        right: 0%;
        min-width: 80px;
        width: 200px;
    }

    #enjeu {
        font-size: 0.8rem;
    }

    #new-incident {
        margin-top: 8rem;

    }
}

@media only screen and (min-width:1921px) {

    /** CLASSES */
    .switch2 {
        margin-left: 60px;
    }

    /** IDs */
    #new-incident {
        margin-top: 16.5rem;
    }
}